
<div class="form-group" style="display: none; border:1px solid gray" id="pwRequirements">
    <div id="pwCheckList">
        <h5 style="text-align:center; color:coral; font-weight:600">
            Your Password Requirements:
        </h5>
        <ul class="list-unstyled">
            <li style="margin-left:12px">
                <span id="pwLengthOk" class="glyphicon glyphicon-remove-sign"
                        style="margin-right:3px; color:red">
                </span>
                Be At Least:&nbsp;<strong>8 Valid Characters (<u>No Spaces</u>)</strong>
            </li>
            <li style="margin-left:12px">
                <span id="pwUpperOk" class="glyphicon glyphicon-remove-sign"
                      style="margin-right:3px; color:red">
                </span>
                Include At Least One:&nbsp;<strong>Uppercase Letter (A->Z)</strong>
            </li>
            <li style="margin-left:12px">
                <span id="pwLowerOk" class="glyphicon glyphicon-remove-sign"
                       style="margin-right:3px; color:red">
                </span>
                Include At Least One:&nbsp;<strong>Lowercase Letter (a->z)</strong>
            </li>
            <li style="margin-left:12px">
                <span id="pwDigitOk" class="glyphicon glyphicon-remove-sign"
                      style="margin-right:3px; color:red">
                </span>
                Include At Least One:&nbsp;<strong>digit (0->9)</strong>
            </li>
            <li style="margin-left:12px">
                <span id="pwSpecialOk" class="glyphicon glyphicon-remove-sign" 
                      style="margin-right:3px; color:red">
                </span>
               Include At Least One:&nbsp;<strong>~`!#$%^&*()-_+=}{<>.;?...</strong>
            </li>
            <li style="margin-left:12px">
                <span id="pwCharactersOk" class="glyphicon glyphicon-remove-sign"
                      style="padding-right:3px; color:red">
                </span>
                Must&nbsp;<b>NOT</b>&nbsp;Include:&nbsp;<strong>&#64; \ / ] [ : ; | " '</strong>
            </li>
        </ul>
    </div>
</div>