
<div class="form-group" style="display: none; border:1px solid gray" id="unRequirements">
    <div style="display: none;" id="unCheckList">
        <h5 style="text-align:center; color:coral; font-weight:600">
            Your User Name Requirements:
        </h5>
        <ul class="list-unstyled">
            <li style="margin-left:12px">
                <span id="unLengthOk" class="glyphicon glyphicon-remove-sign" 
                      style="margin-right:3px; color:red">
                </span>
                Length:&nbsp;<strong>5 to 20 Valid Characters&nbsp;(<u>No Spaces</u>)</strong>
            </li>
            <li style="margin-left:12px">
                <span id="unCharactersOk" class="glyphicon glyphicon-remove-sign" 
                      style="margin-right:3px; color:red">
                </span>
                Include Only:&nbsp;<strong>Alphanumeric Characters</strong>
            </li>
        </ul>
    </div>
</div>