@page

@{
    ViewData["Title"] = "Invalid Sign-In";
}

<h1>@ViewData["Title"]</h1>
<h3>
    <span style="color:yellow; background-color:red;">
        You are not allowed access to this system!!!
    </span>
</h3>

